{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form action="{{ path('login') }}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="login-page_container">

        <div class="login-section page-side section-ope">
            <div class="section-page_intro">
                <img src="{{ asset('Image/signin-icon-black.png') }}" alt="signin-icon">
                <p class="section-page-intro_title">Sign In</p>
            </div>

            <div class="login-form-area">
                <p class="form-title">Sign In</p>
                <div class="section-form">
                    <form class="login-form">
                        <label class="login-page_label">
                            <input class="login-page_input" type="text" id="inputUsername" autocomplete="off" name="username" required autofocus>>
                            <span class="login-page_placeholder">Username</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" type="password" autocomplete="off" name="password">
                            <span class="login-page_placeholder">Password</span>
                        </label>
                        <div class="login-section_submit">
                            <div class="login-page-submit-btn">
                                <input type="submit" name="submit-login" value="login">
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token"
                            value="{{ csrf_token('authenticate') }}"
                        >
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
    <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('js/login-page_script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login-page_demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login-page_style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login-page_responsive.css') }}">
    <title>Anime Upload</title>
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
{% endblock %}