{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <button type="submit">Register!</button>
{{ form_end(form) }}
{% endblock %}