{% extends 'base.html.twig' %}
{% block body %}
    <div class="nav-container">
        <span id="menu-icon"></span>
        <h1 class="nav-title">welcome {{ app.user.getUsername()|default('') }} </h1>
        <div id="navside" class="sidenav">
            <span class="closebtn">&times;</span>
            <a href="{{ path('homepage') }}" >Home</a>
            {% if not is_granted('ROLE_ADMIN') %}
                <a href="{{ path('login') }}" class="current">Login</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <a href="{{ path('stats') }}" >stats</a>
            {% endif %}
            <a href="{{ path('anime') }}">Anime</a>
            <a href="{{ path('hentai') }}">Hentai</a>
            <a href="{{ path('dva') }}">D.VA</a>
            <a href="{{ path('trap') }}">Trap</a>
            {% if is_granted('ROLE_ADMIN')%}
                <a href="{{ path('Uploader') }}">Uploader</a>
                <a href="{{ path('animeUploader') }}">Anime Uploader</a>
                <a href="{{ path('hentaiUploader') }}">Hentai Uploader</a>
                <a href="{{ path('dvaUploader') }}">D.VA Uploader</a>
                <a href="{{ path('trapUploader') }}">Trap Uploader</a>
                <a href="{{ path('logout') }}">Logout</a>
            {% endif %}
        </div>
        <script>
            let navside = document.getElementById('navside');
            document.getElementById("menu-icon").onclick = function() { navside.style.width = "250px"; }
            document.getElementsByClassName("closebtn")[0].onclick = function() { navside.style.width = "0"; }
        </script>
    </div>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, "login") }}</div>
    {% endif %}
<form action="{{ path('login') }}" method="post">
    <div class="login-page_container">

        <div class="login-section page-side section-ope">
            <div class="section-page_intro">
                <img src="{{ asset('Image/signin-icon-black.png') }}" alt="signin-icon">
                <p class="section-page-intro_title">Sign In</p>
            </div>

            <div class="login-form-area">
                <p class="form-title">Sign In</p>
                <div class="section-form">
                    <form class="login-form">
                        <label class="login-page_label">
                            <input class="login-page_input" type="text" autocomplete="off" name="_username">
                            <span class="login-page_placeholder">Username</span>
                        </label>
                        <label class="login-page_label">
                            <input class="login-page_input" type="password" autocomplete="off" name="_password">
                            <span class="login-page_placeholder">Password</span>
                        </label>
                        <div class="login-section_submit">
                            <div class="login-page-submit-btn">
                                <input type="submit" name="submit-login" value="login">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
    <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('js/login-page_script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login page</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet'>
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login-page_demo.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login-page_style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/login-page_responsive.css') }}">
    <title>Anime Upload</title>
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
{% endblock %}