{% extends 'base.html.twig' %}
{% block stylesheets %}
    <title>CFs API</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- Meta Data -->
    <meta name="theme-color" content="#6600cc">
    <meta content="https://computerfreaker.cf/profile/profile.png" property="og:image" />
    <link rel="icon" type="image/x-icon" href="http://computerfreaker.cf/profile/profile.png">
    <meta content="CFs API" property="og:title" />

    <meta content="CFs API" property="og:description" />
    <meta content="CFs API" name="description" />

    <meta name="revisit-after" content="2 days">
    <meta name="keywords" content="computerfreaker, API, CFsAPI, Discord">

    <meta property="og:locale" content="en_US" />
    <link rel="canonical" href="https://computerfreaker.cf/" />
    <meta property="og:url" content="https://api.computerfreaker.cf/" />
    <meta property="og:site_name" content="api.computerfreaker.cf" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@computerfreaker" />

    <!-- CSS -->
    <link href="https://modesta.alexflipnote.dev/css/modesta.css" type="text/css" rel="stylesheet">
    <link href="https://modesta.alexflipnote.dev/css/blobcat.css" type="text/css" rel="stylesheet">

{% endblock %}
{% block body %}
    <div class="fullscreen">
        <div class="background" style="background-color: #6600CC;"></div>
        <div class="center-object">
            <div class="container">
                <section class="me unset">
                    <div class="avatar-container">
                        <img draggable="false" src="/Image/profile.png" class="image-title">
                    </div>
                    <div class="unset">
                        <h1 class="title monospace">CFs API</h1>
                        <p class="undertitle monospace">{{ path('categories') }} | {{ path('anime') }} | {{ path('hentai') }} | {{ path('dva') }} | {{ path('trap') }} | {{ path('hug') }} | {{ path('baguette') }} |
                            {{ path('neko') }} | {{ path('nsfwneko') }}</p>
                    </div>
                </section>
                <div class="buttons">
                    <a href="{{ path("categories") }}" class="btn animation pomegranate" target="">Categories</a>
                    <a href="{{ path("anime") }}" class="btn animation pomegranate" target="">Anime</a>
                    <a href="{{ path("hentai") }}" class="btn animation pomegranate" target="">Hentai</a>
                    <a href="{{ path("yuri") }}" class="btn animation pomegranate" target="">Yuri</a>
                    <a href="{{ path("dva") }}" class="btn animation pomegranate" target="">D.VA</a>
                    <a href="{{ path("trap") }}" class="btn animation pomegranate" target="">Trap</a>
                    <a href="{{ path("hug") }}" class="btn animation pomegranate" target="">Hug</a>
                    <a href="{{ path("neko") }}" class="btn animation pomegranate" target="">Neko</a>
                    <a href="{{ path("nsfwneko") }}" class="btn animation pomegranate" target="">NSFW Neko</a>
                    <a href="{{ path("baguette") }}" class="btn animation pomegranate" target="">Baguette</a>
                    <a href="https://discord.gg/DDRbw7W" class="btn animation pomegranate" target="_blank">Main Server</a>
                    <a href="https://discord.gg/gzWwtWG " class="btn animation pomegranate" target="_blank">API Server</a>
                </div>
                <div class="buttons">
                    {% if not is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')%}
                        <p>if you wanna logout click this button: <a href="{{ path("login") }}" class="btn animation pomegranate" target="">login</a></p>
                    {% else %}
                        <p>if you wanna logout click this button: <a href="{{ path("logout") }}" class="btn animation pomegranate" target="">logout</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <a href="#information"><div class="arrow bounce">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 481.32 291.98" class="wisteria-fill">
                    <path d="M466.5,15.5L466,15c-19.8-19.8-52-19.8-71.9,0L240.8,168.3L87.2,14.8C67.4-5,35.2-5,15.4,14.8l-0.5,0.5 C-5,35.2-5,67.4,14.8,87.2l186.6,186.6c0.9,1,1.8,2,2.7,3v0c3.8,3.8,8.1,6.9,12.7,9.3c17,9,38.1,7.7,53.9-3.9 c2.2-1.6,4.4-3.4,6.4-5.4L466.5,87.4C486.4,67.6,486.4,35.4,466.5,15.5z"/>
                </svg>
            </div></a>
    </div>


    <section class="container" id="information">
        <div class="box-container">
            <div class="table-container">
                <h3 class="title emerald-text"><i class="emoji blobcatbusiness"></i> Stats: </h3>
                <table>
                    <thead>
                    <tr>
                        <th>Endpoint Name</th>
                        <th>Amount of Images</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="emerald-text">Anime</span></td>
                        <td class="numeric gold-text bold">{{ anime }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">Hentai</span></td>
                        <td class="numeric gold-text bold">{{ hentai }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">D.VA</span></td>
                        <td class="numeric gold-text bold">{{ dva }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">Trap</span></td>
                        <td class="numeric gold-text bold">{{ trap }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">Hug</span></td>
                        <td class="numeric gold-text bold">{{ hug }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">baguette</span></td>
                        <td class="numeric gold-text bold">{{ baguette }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">Yuri</span></td>
                        <td class="numeric gold-text bold">{{ yuri }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">Neko</span></td>
                        <td class="numeric gold-text bold">{{ neko }}</td>
                    </tr>
                    <tr>
                        <td><span class="emerald-text">NSFW Neko</span></td>
                        <td class="numeric gold-text bold">{{ nsfwneko }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="box-container">
                <h3 class="title emerald-text"><i class="emoji ablobcatangel"></i> Endpoint Uploaders:</h3>
                <div class="info-container">
                    <p><a href="{{ path("animeUploader") }}" class="btn animation pomegranate" target="">Anime Uploader</a>
                        <a href="{{ path("hentaiUploader") }}" class="btn animation pomegranate" target="_blank">Hentai Uploader</a>
                        <a href="{{ path("dvaUploader") }}" class="btn animation pomegranate" target="">D.VA </a>
                        <a href="{{ path("trapUploader") }}" class="btn animation pomegranate" target="">Trap Uploader</a>
                        <a href="{{ path("hugUploader") }}" class="btn animation pomegranate" target="">Hug Uploader</a>
                        <a href="{{ path("baguetteUploader") }}" class="btn animation pomegranate" target="">Baguette Uploader</a>
                        <a href="{{ path("yuriUploader") }}" class="btn animation pomegranate" target="">Yuri Uploader</a>
                        <a href="{{ path('nekoUploader') }}" class="btn animation pomegranate" target="">Neko Uploader</a>
                        <a href="{{ path('nsfwnekoUploader') }}" class="btn animation pomegranate" target="">NSFW Neko Uploader</a>
                    </p>
                    <p>you can find your token here: <a href="{{ path("token") }}" class="btn animation pomegranate" target="">token</a></p>
                </div>
            </div>
        {% elseif is_granted('ROLE_USER') %}
            <div class="box-container">
                <h3 class="title emerald-text"><i class="emoji ablobcatangel"></i> Endpoint Uploaders:</h3>
                <div class="info-container">
                    <p>you can find your token here: <a href="{{ path("token") }}" class="btn animation pomegranate" target="">token</a></p>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}
