{% extends 'base.html.twig' %}
{% block body %}
    <section class="fullscreen">
        <div class="center-object">
            <div class="table-container table-center center">
                <section class="me">
                    <h1 class="title">CFs API</h1>
                    <span class="undertitle">get a random anime | hentai | d.va | trap | hug pic</span>
                    <h1>Here you can find all the current endpoints</h1>
                    <section class="comment-section ">
                        <div class="comment-container center">
                            <div class="text">
                                <h1 class="author">GET</h1>
                                <span class="comment">{{ path('categories') }} | {{ path('anime') }} | {{ path('hentai') }} | {{ path('dva') }} | {{ path('trap') }} | {{ path('hug') }} | {{ path('baguette') }}</span>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            <div class="buttons">
                <a href="{{ path("categories") }}" class="btn animation pomegranate" target="_blank">Categories</a>
                <a href="{{ path("neko") }}" class="btn animation pomegranate" target="_blank">neko</a>
                <a href="{{ path("nsfwneko") }}" class="btn animation pomegranate" target="_blank">nsfwneko</a>
                <a href="{{ path("anime") }}" class="btn animation pomegranate" target="_blank">Anime</a>
                <a href="{{ path("hentai") }}" class="btn animation pomegranate" target="_blank">Hentai</a>
                <a href="{{ path("dva") }}" class="btn animation pomegranate" target="_blank">D.VA</a>
                <a href="{{ path("trap") }}" class="btn animation pomegranate" target="_blank">Trap</a>
                <a href="{{ path("hug") }}" class="btn animation pomegranate" target="_blank">Hug</a>
                <a href="{{ path("baguette") }}" class="btn animation pomegranate" target="_blank">Baguette</a>
                <a href="{{ path("yuri") }}" class="btn animation pomegranate" target="_blank">Yuri</a>
                <a href="https://discord.gg/rMVju6a" class="btn animation pomegranate" target="_blank">Main Server</a>
                <a href="https://discord.gg/gzWwtWG " class="btn animation pomegranate" target="_blank">API Server</a>
            </div>
            <br><span class="center-text">
                <p>There are at the moment {{ anime }} anime images, {{ hentai }} hentai images, {{ dva }} D.VA images, {{ trap }} trap images, {{ hug }} hug images,
                    {{ baguette }} baguette images, {{ yuri }} yuri images</p>
            </span>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <meta name="og:title" content="CFs API">
    <meta name="og:description" content="a small API that sends anime/hentai images in JSON">
    <meta name="og:image" content="{{ asset('https://computerfreaker.cf/profile/profile.png') }}">
    <meta name="og:url" content="https://api.computerfreaker.cf">
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
    <style>

        body { font: 18px/1.5 sans-serif;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
        .center-object h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { font-size: 20px;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}