{% extends 'base.html.twig' %}
{% block body %}
    <section class="me">
        <h1 class="title">CFs API</h1>
        <h1>Here you can find all the current endpoints for uploading pictures</h1>
        <section class="comment-section ">
            <div class="comment-container center">
                <div class="text">
                    <h1 class="author">GET</h1>
                    <span class="comment">{{ path('animeUploader') }} | {{ path('hentaiUploader') }} | {{ path('baguetteUploader') }} | {{ path('dvaUploader') }} | {{ path('hugUploader') }} | {{ path('nekoUploader') }} | {{ path('nsfwnekoUploader') }} |
                        {{ path('trapUploader') }} | {{ path('yuriUploader') }}
                    </span>
                </div>
            </div>
        </section>
        <div class="buttons">
            <a href="{{ path("animeUploader") }}" class="btn animation pomegranate" target="">Anime Uploader</a>
            <a href="{{ path("hentaiUploader") }}" class="btn animation pomegranate" target="">Hentai Uploader</a>
            <a href="{{ path("dvaUploader") }}" class="btn animation pomegranate" target="">D.VA Uploader</a>
            <a href="{{ path("trapUploader") }}" class="btn animation pomegranate" target="">Trap Uploader</a>
            <a href="{{ path("hugUploader") }}" class="btn animation pomegranate" target="">Hug Uploader</a></br>
            <a href="{{ path("baguetteUploader") }}" class="btn animation pomegranate" target="">Baguette Uploader</a>
            <a href="{{ path("yuriUploader") }}" class="btn animation pomegranate" target="">Yuri Uploader</a>
            <a href="{{ path('nekoUploader') }}" class="btn animation pomegranate" target="">Neko Uploader</a>
            <a href="{{ path('nsfwnekoUploader') }}" class="btn animation pomegranate" target="">NSFW Neko Uploader</a>
        </div>
        <span class="center-text">
                <p>if you have wanna logout click this button: <a href="{{ path("logout") }}" class="btn animation pomegranate" target="_blank">logout</a></p>
            </span>
        </div>
    </section>


{% endblock %}

{% block stylesheets %}
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
    <style>

        body { background: #000000; font: 18px/1.5 sans-serif;}
        h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
        .center-object h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; font-size: 12px;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
    </style>
{% endblock %}
