{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav-container">
        <span id="menu-icon"></span>
        <h1 class="nav-title">welcome {{ app.user.getUsername()|default('') }}</h1>
        <div id="navside" class="sidenav">
            <span class="closebtn">&times;</span>
            <a href="{{ path('homepage') }}">Home</a>
            {% if not is_granted('ROLE_ADMIN') %}
                <a href="{{ path('login') }}">Login</a>
            {% endif %}
            <a href="{{ path('anime') }}">Anime</a>
            <a href="{{ path('hentai') }}">Hentai</a>
            {% if is_granted('ROLE_ADMIN')%}
                <a href="{{ path('Uploader') }}" class="current">Uploader</a>
                <a href="{{ path('animeUploader') }}">Anime Uploader</a>
                <a href="{{ path('hentaiUploader') }}">Hentai Uploader</a>
                <a href="{{ path('logout') }}">Logout</a>
            {% endif %}
        </div>
        <script>
            var navside = document.getElementById('navside');
            document.getElementById("menu-icon").onclick = function() { navside.style.width = "250px"; }
            document.getElementsByClassName("closebtn")[0].onclick = function() { navside.style.width = "0"; }
        </script>
    </div>
    <section class="fullscreen">
        <div class="center-object">
            <section class="me">
                <h1 class="title">CFs API</h1>
                <span class="undertitle">get a random anime/hentai pic</span>
            </section>
            <div class="table-container table-center center">
                <h1>Here you can find all the current endpoints</h1>
                <section class="me">
                    <section class="comment-section ">
                        <div class="comment-container center">
                            <div class="avatar">
                                <img src="{{ asset('https://cdn.computerfreaker.cf//bdb6c11108ce40cda471830267895f41.png') }}">
                            </div>
                            <div class="text">
                                <h1 class="author">GET</h1>
                                <span class="comment">{{ path('animeUploader') }}</span>
                            </div>
                            <div class="avatar">
                                <img src="{{ asset('https://pics.computerfreaker.cf/albums/gallery/Miyazaki_Yuki_%28110971%29/57653472_p0.jpg') }}">
                            </div>
                            <div class="text">
                                <h1 class="author">GET</h1>
                                <span class="comment">{{ path('hentaiUploader') }}</span>
                            </div>

                        </div>
                    </section>
                </section>
            </div>
            <div class="buttons">
                <a href="{{ path("animeUploader") }}" class="btn animation pomegranate" target="_blank">Anime</a>
                <a href="{{ path("hentaiUploader") }}" class="btn animation pomegranate" target="_blank">Hentai</a>
            </div>

        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
    <style>

        body { background: #000000; font: 18px/1.5 sans-serif;}
        h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
        .center-object h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; font-size: 12px;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
    </style>
{% endblock %}
