{% extends 'base.html.twig' %}
{% block body %}
    <section class="fullscreen">
        <div class="center-object">
            <div class="table-container table-center center">
                <section class="me">
                    <h1 class="title">CFs API</h1>
                    <span class="undertitle">get a random anime | hentai | d.va | trap | hug pic</span>
                    <h1>Here you can find all the current endpoints</h1>
                    <section class="comment-section ">
                        <div class="comment-container center">
                            <div class="text">
                                <h1 class="author">GET</h1>
                                <span class="comment">{{ path('animeUploader') }} | {{ path('hentaiUploader') }} | {{ path('dvaUploader') }} | {{ path('trapUploader') }} | {{ path('hugUploader') }} | {{ path('baguetteUploader') }}</span>
                            </div>
                        </div>
                    </section>
                </section>
            </div>
            <div class="buttons">
                <a href="{{ path("animeUploader") }}" class="btn animation pomegranate" target="_blank">Anime</a>
                <a href="{{ path("hentaiUploader") }}" class="btn animation pomegranate" target="_blank">Hentai</a>
                <a href="{{ path("dvaUploader") }}" class="btn animation pomegranate" target="_blank">D.VA</a>
                <a href="{{ path("trapUploader") }}" class="btn animation pomegranate" target="_blank">Trap</a>
                <a href="{{ path("hugUploader") }}" class="btn animation pomegranate" target="_blank">Hug</a>
                <a href="{{ path("baguetteUploader") }}" class="btn animation pomegranate" target="_blank">Baguette</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block stylesheets %}
    <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
    <style>

        body { background: #000000; font: 18px/1.5 sans-serif;}
        h1, h2 { line-height: 1.2; margin: 0 0 .5em;}
        .center-object h1 { font-size: 20px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; font-size: 12px;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
    </style>
{% endblock %}
